body, p, a {
  font-family: arial, sans-serif;
}

/** Header **/
header a {
  font-size: 13px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

header {
  padding-top: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a:hover {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: underline;
}

nav .nav-l {
  display: flex;
  min-width: 80px;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

nav .nav-r {
  display: flex;
  min-width: 220px;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

#btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4285f4;  
  color: white;
  font-weight: bold;
  border: 1px solid #4285f4;
  border-radius: 2px;
}

#btn:hover {
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  text-decoration: none;
}

#box {
  display: inline-block;
  background-image: url('/images/assorted_logo.png');
  background-position: -132px 30.5px;
  opacity: 0.55;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#box:hover {
  opacity: 1;
}

/** Main **/
/** Logo **/
.logo {
  height: 233px;
  width: 100%;
  text-align: center;
  transition: height 0.4s ease;
}

.logo img {
  padding-top: 109px;
  transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
}

/** Search bar **/
form {
  width: 100%;
}

form input{
  width: 534px;  
  height: 40px;
  transition: width 0.3s linear;
  border: 0;
  background: #fff;
  flex-shrink: 2.5;
  font-size: 16px;
}

form input:focus {
  outline: 0;
}

.searchbar {
  min-width: inherit;
  max-width: 582px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}

.searchbar img {
  height: 20px; 
  padding: 3px 15px;
}

#ico-1 {
  opacity: 0.6;
}

.searchbar:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0);
}

/** Search buttons **/
.search-btns {
  text-align: center;
  margin-top: 18px;
  padding: 18px 0 18px 0;
}

.search-btns button {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
  height: 36px;
  padding: 0 18px;
}

.search-btns button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.search-btns button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}


/** Language options **/
.lang {
  text-align: center;
  color: #222;
  font-size: 13px;
  padding-top: 12px;
}

.lang a {
  color: #1a0dab;
  padding-left: 4px;
  text-decoration: none;
}

.lang a:hover {
  text-decoration: underline;
} 

.lang a:visited {
  color: #609;
}

/** Footer **/
footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e4e4e4;
  padding: 12px 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.link-l {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.link-r {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-size: 14px;
  color: #5f6368;
}

.links a:hover {
  text-decoration: underline;
}

/** Media queries **/
@media (max-width: 805px) {
  .links {    
    flex-direction: column-reverse;
    align-items: center;
  }

  .link-r {
    height: 40px;
    vertical-align: middle;
  }
}

@media (min-width: 440px) {
  .container {
    width: 86%;
    margin: auto;
  }
}

@media only screen and (max-height: 536px) {
  .logo {
    height: 100px;
  }

  .logo img {
    padding-top: 10px !important;
    height: 72px;
    width: auto;
  }
}

@media (max-height: 470px ) {
  footer {
    margin-top: 70px;
    position: relative;
  }
}

/** Google Images page **/
/*
.img-nav {
  min-width: 110px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
*/